body {
  padding:50px;
  /*font-family: 'Lato', sans-serif;*/
  font-size: 22px;
  font-weight: normal;
  font-family: 'Museo Sans', sans-serif;
  /*font-family: 'Open Sans', sans-serif;*/
  
}
@media only screen and (min-width: 481px) {
  body {
    padding-top: 24px;
    padding-right: 24px;
    padding-left: 24px;
  }
}
h2{
  color:#222;
  margin:0 0 30px;
  color:#393939;
  line-height:1.1;
}

p{
  margin:0 0 20px;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

header {
  width:270px;
  float:left;
  position:fixed;
}

section {
  width:800px;
  float:right;
  padding-bottom:75px;
}

small {
  font-size:11px;
}

footer {
  width:800px;
  float:left;
  position:fixed;
  bottom:50px;
}

.content {
  width:1000px;
  margin:0 auto;
}


