@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  padding:50px;
  font:23px Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#222;
}

h2{
  color:#222;
  margin:0 0 20px;
  color:#393939;
  line-height:1.1;
}

p{
  margin:0 0 20px;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

header {
  width:270px;
  float:left;
  position:fixed;
}

section {
  width:800px;
  float:right;
  padding-bottom:75px;
}

small {
  font-size:11px;
}

footer {
  width:300px;
  float:left;
  position:fixed;
  bottom:50px;
}

.content {
  width:1000px;
  margin:0 auto;
}


